{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <p class="meta">Get it on the <a href="https://www.apple.com/app-store/">Mac App Store</a> or <a href="https://www.microsoft.com/en-us/store/apps/windows">Windows App Store</a> for free!</p>
      <p class="meta">Upgrade to Timelapser Pro for only $19.99</p>
      <!-- <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Screenshots your screen</h2>
          <p>Timelapser takes screenshots of your screen at specified intervals</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Creates timelapses ⚡️</h2>
          <p>Once you're done recording, Timelapser creates a video timelapse at 30fps, 60fps or your specified frame rate.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Pause & Resume</h2>
          <p>Pause and resume recording in order to get the perfect timelapses of your work.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Configurable Settings</h2>
          <p>Change your settings to save the raw screenshots, adjust the interval between screenshots, and more!</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Folders support (Pro-only)</h2>
          <p>With Timelapser Pro, you can create timelapses of folders of images. Great if you want to configure fps, or update recordings after the fact.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Custom Watermarks (Pro-only)</h2>
          <p>Timelapser Pro allows you to use custom watermarks in your timelapses to match your branding.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
